# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# Virtual environment
venv/
env/

# IDE-specific files
.idea/
.vscode/

# System files
.DS_Store
Thumbs.db

# Logs and temporary files
*.log
*.temp
*.tmp

# CSV Files (Optional)
*.csv

# Exclude specific file
housing_data.csv
